html, body{
    height: 90%;
    width: 100%;
    margin: 0;
    background: rgb(43, 43, 245);
}

#hoja{
    box-shadow: 0.5em 0.5em 0.5em 0.2em rgba(0,0,0,0.6);
    display: block;
    height: 99%;
    margin:3em auto;
    position:center;
    width: 90%;
}